spring:
  application:
    name: audit-service
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        acknowledge-mode: manual
        retry:
          enabled: false

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health,audit
